:root { --verde: #26A65B; --vermelho: #cd0000; --azul: #4183D7; }
.area-de-testes { display: flex; }
.container { margin: 0; flex: 1; }
.header { padding: 8px; background-color: var(--azul); }
.header .header__text { color: #f5f5f5; }
.elemento-var { display: flex; justify-content: space-between; width: 100%; background-color: #ffffff; margin: 20px auto; font-size: 16px; padding: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, .3); border-radius: 0 0 25px 0; }
.elemento-var i { color: var(--verde); font-size: 20px; }
.spinner { border: 2px solid var(--azul); border-radius: 50%; border-top: 2px solid #EEE; width: 11px; height: 11px; -webkit-animation: spin 1.2s linear infinite; animation: spin 1.2s linear infinite; }
.botoes { display: flex; align-items: center; justify-content: center; margin: 10px auto; width: 100%; align-items: center; }

html, body { background-color: #f5f5f5; }
button { padding: 8px; width: 30%; margin: 10px; text-transform: uppercase; position: relative; font-size: 15px; cursor: pointer }

#testarVariaveisBtn { color: #E4F0F1; background-color: var(--azul); border: 2px solid transparent; border-image-slice: 1; transition: all .2s ease; }
#testarVariaveisBtn:hover { transform: scale(1.05); }

#limparBtn { background: transparent; opacity: .4; border: 0; transition: all .2s ease; color: var(--vermelho); }
#limparBtn:after, #limparBtn:before { content: ""; width: 0; height: 2px; background-color: var(--vermelho); will-change: width; transition: all .2s ease-out; position: absolute; bottom: 0; }
#limparBtn:after { right: 50%; transform: translateX(50%); }
#limparBtn:before { left: 50%; transform: translateX(-50%); }
#limparBtn:hover { opacity: 1; }
#limparBtn:hover:after { width: 100%; transition-duration: .20s; }
#limparBtn:active { background-color: var(--vermelho); color: #E4F0F1; transition-duration: .2s; transform: scale(0.999); }

#resultado {
  flex :1;
  background-color: #000;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fa-times-circle { color: #cd0000; }
